@import "variables.module";

.filter {
    background: $secondary-accent;
}
.primary_color {
    color: $primary;
}
.active {
    font-weight: 900;
    border-bottom: 1px solid $primary;
}
.search {
    background-color: $light-secondary;
    color: $gray-2;
}
.model {
    background-color: $light-secondary;
    color: $white;
    z-index: 2;
}
.submit {
    background-color: $primary;
}
